






h1 {
  color: var(--main-light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--backgronud-button-color);
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition-background-color-func),
    var(--transition-color-link-func), var(--transition-box-shadow-func);
}

.button:hover,
.button:focus {
  color: var(--main-light-color);
  background-color: var(--current-color);
  box-shadow: var(--box-shadow-button);
}



.contact-footer-link {
  font-weight: 500;
  line-height: 1.71;
  color: var(--footer-text-color);
  transition: var(--transition-color-link-func);
}

.contact-footer-link:hover,
.contact-footer-link:focus {
  color: var(--current-color);
  fill: var(--current-color);
}



.main-logo {
  color: var(--main-dark-color);
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-align: center;
  padding: 0;
  margin-right: 93px;
}

.contact-item + .contact-item {
  margin-left: 50px;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-light-color);
  display: block;
  margin-bottom: 20px;
}

.footer-contact-item {
  display: block;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-color {
  color: var(--current-color);
  text-align: center;
  padding: 0;
}

.portfolio-item {
  width: 370px;
}




.description-item {
  display: flex;
  gap: 30px;
}

.list-workcom {
  display: flex;
  gap: 30px;
}

.list-work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gps-footer-link {
  display: block;
  margin-bottom: 9px;
  color: var(--main-light-color);
  transition: var(--transition-color-link-func);
}

.gps-footer-link:hover,
.gps-footer-link:focus {
  color: var(--current-color);
}

.text-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.text-description {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color);
}

.description-list::before {
  margin-bottom: 30px;
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--backgronud-button-color);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 4px;
}

.description-list:nth-child(1):before {
  content: "";
  background-image: url(../images/antenna.svg);
}

.description-list:nth-child(2):before {
  content: "";
  background-image: url(../images/clock.svg);
}

.description-list:nth-child(3):before {
  content: "";
  background-image: url(../images/diagram.svg);
}
.description-list:nth-child(4):before {
  content: "";
  background-image: url(../images/astronaut.svg);
}



.title-workcom {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-color);
  text-align: center;
}





.section-workcom {
  padding-top: 0px;
}

.list-buttons {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 50px;
  gap: 8px;
  display: flex;
  justify-content: center;
}

.description-icon {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--backgronud-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-work {
  background-color: var(--main-light-color);
}

.section-command {
  background-color: var(--backgronud-button-color);
}



.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
}

.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
  margin-bottom: 16px;
}

.name-prof {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-icon-color);
  transition: var(--transition-background-color-func),
    var(--transition-color-link-func);
}

.social-list-link:hover,
.social-list-link:focus,
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  color: var(--main-light-color);
  background-color: var(--current-color);
}





.contact {
  font-style: normal;
}



.workcom {
  width: 270px;
  background: #ffffff;
  box-shadow: var(--box-shadow-modal);
  border-radius: 0px 0px 4px 4px;
}


.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--current-color);
  border: 1px solid var(--current-color);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  color: var(--social-icon-color);
  transition: var(--transition-border-color-funk),
    var(--transition-color-link-func);
}

.clients-icon {
  fill: currentColor;
}

.workcom-thumb {
  position: relative;
}

.workcom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--workcom-background-color);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-light-color);
}



